#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30
#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/*
╭────────────┬────────────┬────────────┬────────────┬────────────╮╭────────────┬────────────┬────────────┬────────────┬────────────╮
     LT4          LT3     -    LT2     +    LT1          LT0           RT0          RT1     ^    RT2     $    RT3          RT4      
├────────────┼──── - ─────┼──── / ─────┼──── * ─────┼────────────┤├────────────┼─── ( { ────┼─── ) } ────┼────────────┼────────────┤
     LM4          LM3    Tab   LM2   Enter  LM1    Bspc  LM0           RM0     %    RM1    ( {   RM2    ) }   RM3          RM4      
├────────────┼──── / ─────┼──── * ─────┼──── f ─────┼────────────┤├────────────┼────────────┼────────────┼────────────┼────────────┤
     LB4          LB3     |    LB2     &    LB1          LB0           RB0          RB1    < [   RB2    > ]   RB3          RB4      
╰────────────┴────────────┴────────────┴────────────┴────────────╯╰────────────┴────────────┴────────────┴────────────┴────────────╯
╭────────────╮            ╭────────────┬────────────┬────────────╮╭────────────┬────────────┬────────────╮            ╭────────────╮
     LA0                       LH2          LH1          LH0           RH0          RH1          RH2                       RA0      
╰────────────╯            ╰────────────┴────────────┴────────────╯╰────────────┴────────────┴────────────╯            ╰────────────╯
*/
ZMK_COMBO(l_amps   , &kp AMPS     , LT1 LT2, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(l_pipe   , &kp PIPE     , LT2 LT3, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(l_bspc   , &kp BSPC     , LM0 LM1, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(l_ret    , LX12(RET)    , LM1 LM2, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(l_esc    , LX13(ESC)    , LM1 LM3, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(l_tab    , LX23(TAB)    , LM2 LM3, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(l_del    , LX34(DEL)    , LM3 LM4, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(l_equal  , &kp EQUAL    , LT1 LM1, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(l_under  , &kp UNDER    , LM1 LB1, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(l_plus   , &kp PLUS     , LT2 LM2, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(l_star   , &kp STAR     , LM2 LB2, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(l_minus  , &kp MINUS    , LT3 LM3, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(l_fslh   , &kp FSLH     , LM3 LB3, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(r_lbkt   , &kp LBKT     , RT1 RT2, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(r_rbkt   , &kp RBKT     , RT2 RT3, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(r_lpar   , RX12(LPAR)   , RM1 RM2, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(r_rpar   , RX23(RPAR)   , RM2 RM3, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(r_lbrc   , &kp LBRC     , RM0 RM1, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(r_rbrc   , RX34(RBRC)   , RM3 RM4, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(r_lt     , &kp LT       , RB1 RB2, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(r_gt     , &kp GT       , RB2 RB3, BASE NAVI SYMB, COMBO_TERM_FAST, COMBO_IDLE_FAST)

ZMK_COMBO(r_lang   , &kp LC(SPACE), LH0 RH0, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(r_scr_tab, SCR_TAB      , LA0 LH2, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

ZMK_COMBO(ble_sel_1, &bt BT_SEL 1 , LT4 LB4, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(ble_sel_2, &bt BT_SEL 2 , LT3 LB3, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(ble_sel_3, &bt BT_SEL 3 , LT2 LB2, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(ble_sel_4, &bt BT_SEL 4 , LT1 LB1, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)
ZMK_COMBO(ble_clear, &bt BT_CLR   , LT0 LB0, BASE NAVI SYMB, COMBO_TERM_SLOW, COMBO_IDLE_SLOW)

